<aside>
    <ul>
        <li>
            <a [routerLink]="'/contas'">
                <span>
                    <fa-icon class="mr-2" [icon]="faWallet"></fa-icon>
                    Minhas Contas
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="'/categorias'">
                <span>
                    <fa-icon class="mr-2" [icon]="faThLarge"></fa-icon>
                    Categorias
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="'/relatorios'">
                <span>
                    <fa-icon class="mr-2" [icon]="faChartLine"></fa-icon>
                    Relatórios
                </span>
            </a>
        </li>
        <li>
            <a href="https://github.com/lucassvasconcelos/contas.ui" target="_blank">© {{ year }} Contas UI - Github</a>
        </li>
    </ul>
</aside>