<div class="d-flex align-items-center mb-4">
    <div>
        <h1 class="page-title">Contas</h1>
    </div>
    <div class="ml-3">
        <button class="btn btn-primary" (click)="criarConta()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
</div>
<div class="table-responsive table-scroll">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Parcelado</th>
                <th>Nº Parcelas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conta of contas">
                <td *ngIf="conta?.categoria?.tipo === 1">
                    <span class="badge badge-pill badge-success">{{ conta?.categoria?.nome }}</span>
                </td>
                <td *ngIf="conta?.categoria?.tipo === 2">
                    <span class="badge badge-pill badge-danger">{{ conta?.categoria?.nome }}</span>
                </td>
                <td>{{ conta.nome }}</td>
                <td>{{ conta.data | date: 'dd/MM/yyyy' }}</td>
                <td>{{ conta.valor | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
                <td *ngIf="conta.parcelado" class="text-success">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </td>
                <td *ngIf="!conta.parcelado" class="text-danger">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </td>
                <td>{{ conta.numeroParcelas === 0 ? '-' : conta.numeroParcelas }}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-primary mr-2" (click)="editarConta(conta)">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deletarConta(conta)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-2">
    <strong>Quantidade: {{ contas.length }} {{ contas.length === 1 ? 'conta' : 'contas' }}</strong>
</div>

<ng-template #modalConta>
    <app-conta [conta]="contaSelecionada" (closeEvent)="dismissAll()"></app-conta>
</ng-template>

<ng-template #modalDelecaoConta>
    <app-delecao-conta [conta]="contaSelecionada" (closeEvent)="dismissAll()"></app-delecao-conta>
</ng-template>