<div class="month-picker-defaults form-group p-0 m-0" ngbDropdown #calendarPanel="ngbDropdown">
    <div class="input-group">
        <input #item id="data" name="data" type="text" class="form-control" [(ngModel)]="dataTxt"
            [placeholder]="mascara" (input)="change(item.value)">

        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle-split" ngbDropdownToggle>
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>
    </div>

    <div ngbDropdownMenu class="dropdown-menu">
        <div class="d-flex justify-content-between">
            <button class="btn btn-link" (click)="alterarAno($event,-1)">
                <span class="ngb-dp-navigation-arrow left"></span>
            </button>
            <button *ngIf="!somenteAnos" class="btn btn-link" (click)="mostrarAnos($event)">{{data.ano}}</button>
            <button *ngIf="somenteAnos" class="btn btn-link"
                (click)="mostrarAnos($event)">{{incr+1}}-{{incr+10}}</button>
            <button class="btn btn-link" (click)="alterarAno($event,+1)">
                <span class="ngb-dp-navigation-arrow right"></span>
            </button>
        </div>

        <div class="row">
            <div *ngFor="let mes of meses; let i = index; let first = first; let last = last" class="col-4"
                (click)="selecionar($event,i)">
                <div [ngClass]="{
                    'select': !somenteAnos ? (i+1)==data.mes : (i+incr) == data.ano,
                    'outrange': somenteAnos && (first || last)
                }" class="card-body">
                    <span *ngIf="!somenteAnos">{{mes}}</span>
                    <span *ngIf="somenteAnos">{{i+incr}}</span>
                </div>
            </div>
        </div>
    </div>
</div>