.content {
    margin-top: 60px;
    margin-left: 300px;
    position: relative;
    padding: 30px;
    transition: 0.5s;
}

.content-full {
    margin-top: 60px;
    margin-left: 0;
    position: relative;
    padding: 30px;
    transition: 0.6s;
}