<nav>
    <div class="d-flex align-items-center container">
        <div class="mr-3">
            <a [routerLink]="'/relatorios'">
                <fa-icon [icon]="faCoins"></fa-icon>
            </a>
        </div>
        <div>
            <ul class="d-flex mb-0 pl-0">
                <li class="mr-4">
                    <a [routerLink]="'/contas'">Minhas Contas</a>
                </li>
                <li class="mr-4">
                    <a [routerLink]="'/categorias'">Categorias</a>
                </li>
                <li>
                    <a [routerLink]="'/relatorios'">Relatórios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>